/*
 * Built on TRIM
 *
 * Author: mrmrs
 * License: MIT
 *
 *                */

body { font-family: avenir, 'avenir next', helvetica, arial; }
p { font-size: 20px; }

.curs { font-family: cursive; }

html, body { height: 100%; }
.jay-z { background: url(../jay.jpg) no-repeat center bottom; background-size: cover; height: 100%; width: 100%; display: block; }

.text { max-width: 768px; margin: 0 auto; padding: 1rem; }
